<!-- Portfolio Grid Section -->
    <section id="bridge" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                  <img src="/hustle/css/2017_style/img/logos/bridge.png" class="img-responsive bridge-image" alt="">
                  <h2 class="section-heading">Bridge Communities</h2>
                </div>
            </div>
            <div class="row">

              <p>Bridge Communities with the help of program partners, like St. Irene’s, provides free transitional housing to 131 homeless families each year. During the two years each family spends in the program they are able to save money, learn budgeting skills, and obtain better employment, so they can live self-sufficiently once they graduate. Our second family left the program early after being able to obtain section 8 housing for their family, which will help provide them with long term financial security. Before leaving the program our adopted family provided us with the following words of thanks, “I wanted to let you all know that I am extremely thankful for you all; your patience, time, commitment, hopefulness, understanding, generosity, sympathy and helpfulness. I know that I am truly blessed to have you all a part of my life and my son’s like as well."

              <p>We are proud to announce that we adopted our third family in March, a single mom with a 6 year old child. Our new family meets each week our team of mentors and works on budgeting and goal setting, improving health through better nutrition. In addition we address debt, increasing saving, and help with education and job search activities. The end goal is self-sufficiency. We are planning to adopt our fourth family later this year.

            </div>
            <center><a href="{{site.baseurl}}/bridge" class="page-scroll btn btn-xl">Learn More</a></center>
        </div>
    </section>
