<!-- Portfolio Grid Section -->
    <section id="bridge" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                  <img src="/hustle/css/2017_style/img/logos/bridge.png" class="img-responsive bridge-image" alt="">
                  <h2 class="section-heading">Bridge Communities</h2>
                </div>
            </div>
            <div class="row">
              <p>Bridge Communities, with the help of local program partners (such as St. Irene’s in Warrenville and St. Timothy’s in Naperville), provides free transitional housing to 131 homeless families each year. During the two years each family spends in the program, they learn budgeting skills, save money and obtain better employment, so they can live self-sufficiently once they graduate.

              <p>Over the years, proceeds from Hustle Up the Hill have helped this program support 9 families as they worked toward transitioning to stability. Families graduate from the 2-year program after being able to obtain section 8 housing for their family or securing other affordable housing which provide them with long-term financial security. Before leaving the program, one of our adopted families thanked the volunteer mentors with the following words:

              <p>"I wanted to let you all know that I am extremely thankful for you all; your patience, time, commitment, hopefulness, understanding, generosity, sympathy and helpfulness. I know that I am truly blessed to have you all a part of my life and my son’s life as well."

              <p>As a Bridge partner, we are proud to announce that we are currently working with our 8th and 9th families, with mentors waiting to assist a 10th family. Every adopted family meets weekly with our team of volunteers. They work together on budgeting, goal setting and improving health through better nutrition. In addition, we address debt, increasing saving, and help with education and job search activities. The end goal is self-sufficiency after 2 years and to end the cycle of homelessness one family at a time.
            </div>
            <center><a href="{{site.baseurl}}/bridge" class="page-scroll btn btn-xl">Learn More</a></center>
        </div>
    </section>
