<div class="container">
  <section id="gallery">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Gallery</h2>
        </div>
    </div>
    <div class="row">
      <table id="gallery_table_large" class="gallery_table">
        <tr>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_01.jpg" class="img-responsive img-centered" alt=""></td>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_02.jpg" class="img-responsive img-centered" alt=""></td>
        </tr>
        <tr>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_03.jpg" class="img-responsive img-centered" alt=""></td>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_04.jpg" class="img-responsive img-centered" alt=""></td>
        </tr>
        <tr>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_05.jpg" class="img-responsive img-centered" alt=""></td>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_06.jpg" class="img-responsive img-centered" alt=""></td>
        </tr>
        <tr>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_07.jpg" class="img-responsive img-centered" alt=""></td>
          <td><img src="/hustle/css/2017_style/img/gallery/hustle_08.jpg" class="img-responsive img-centered" alt=""></td>
        </tr>
        </table>

        <table id="gallery_table_small" class="gallery_table">
          <tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_01.jpg" class="img-responsive img-centered" alt=""></td>
            </tr><tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_02.jpg" class="img-responsive img-centered" alt=""></td>
          </tr>
          <tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_03.jpg" class="img-responsive img-centered" alt=""></td>
            </tr><tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_04.jpg" class="img-responsive img-centered" alt=""></td>
          </tr>
          <tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_05.jpg" class="img-responsive img-centered" alt=""></td>
            </tr><tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_06.jpg" class="img-responsive img-centered" alt=""></td>
          </tr>
          <tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_07.jpg" class="img-responsive img-centered" alt=""></td>
            </tr><tr>
            <td><img src="/hustle/css/2017_style/img/gallery/hustle_08.jpg" class="img-responsive img-centered" alt=""></td>
          </tr>
          </table>
      </div>

      </section>
</div>
