<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row container">
              <div class="col-lg-12 text-center">
                    <!-- <h2 class="section-heading">Get Your Hustle On!!!</h2> -->
                </div>

                <p>The heavens opened up on our 8th annual Hustle Up The Hill. In fact, it was one of the rainiest days in Chicago this year. Due to the heavy rains, we had to make the difficult decision to call the race. Yet our wonderful participants, generous donors and dedicated sponsors made this one of the most successful Hustle events to date.

                <p>Through your generosity, we raised enough money to support a Bridge family for 18 months, more than a year and a half of support for a family in need. Our work for ending homelessness is not done, but your participation will help us continue this important work.

                <p>Family #8 recently graduated from the program. She shared with us the following message:

                <p><em>"Thank you so much to everyone who has supported me in any type of way during my time in Bridge. I wouldn't be where I am without the support from you all. . . Because of my mentors and all of you, I will be able to have a future of stability for my daughter."</em>

                <p>We wish her and her daughter a very bright future. We are pleased to announce that we have just welcomed Family #10 to the program.

              <!-- <p>Are you ready to conquer the mountain? How many times can you hustle up Blackwell’s Mt Hoy?

              <p>Beautiful Mt. Hoy, which rises 836 feet above sea level, gives you an awesome panoramic view of the western suburbs and if the skies are clear, you can see the Chicago skyline in the distance. But first, you have get to the top. Lace up your running (or walking) shoes and join us on <strong>September 11, 2022 at Blackwell Forest Preserve in Warrenville, Illinois</strong> as we have fun while raising funds for Bridge Communities. You can also participate virtually, just complete the race anytime between September 11 - 18!

              <p>Each round trip up and down Mt. Hoy is approximately .3 miles, but involves a variable incline. Walk or run to see how many times you can make it up and down the hill in 30 minutes.

              <p>Run solo or form a team. Run with the family. Do your thing. T-shirts and gourmet coffee await you at the finish line. -->

                <!-- <div class="text-center">
                  <a href="https://www.active.com/warrenville-il/walking/races/8th-annual-hustle-up-the-hill-2022" target="_blank"><button type="button" class="btn btn-xl">Register Now!</button></a>
                </div> -->

              <!-- <p>All proceeds from the event will go to house a homeless family for 2 years as they transition to self-sufficiency. If you're not racing this year, but still want to help, please consider making a <a href="https://st-irene.churchgiving.com/ws/opportunities/BridgeCommunities" target="_top">donation</a> directly to Bridge Communities. -->

            </div>

        </div>
    </section>
