<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">2019 Race Day Update</h2>
              </div>
              <p>Another race complete! View photos from the event on <a href="https://www.facebook.com/HustleForHomeless/">Facebook</a> or check out our drone video:</p>

              <iframe width="560" height="315" src="https://www.youtube.com/embed/gsEcrV4E00U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="youtube"></iframe>

              <p>Looking for race results? Download the <a href="/hustle/assets/Individual_Hustle_2019_Results.xlsx" target="_blank">individual</a> and <a href="/hustle/assets/Team_Hustle_2019_Results.xlsx" target="_blank">team results</a> here now. Next year's Hustle will be May 31, 2020. See you all there. We raised a lot of money for our families that we are housing and mentoring to rescue them from homelessness. Thanks.</p>
              <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get Your Hustle On!!!</h2>
                </div>
            </div>
            <div class="row container">
              <p>Are you ready to conquer the mountain? How many times can you hustle up Blackwell’s Mt Hoy?

              <p>Beautiful Mt. Hoy, which rises 836 feet above sea level, gives you an awesome panoramic view of the western suburbs and if the skies are clear, you can see the Chicago skyline in the distance. But first, you have get to the top. Lace up your running (or walking) shoes and join us as we have fun while raising funds for Bridge Communities.

              <p>Run solo or form a team. Run with the family. Do your thing. T-shirts and gourmet coffee await you at the finish line.

                <!-- <div class="text-center">
                  <a href="https://www.active.com/warrenville-il/running/distance-running-races/5th-annual-hustle-up-the-hill-for-the-homeless-2019" target="_blank"><button type="button" class="btn btn-xl">Register Now!</button></a>
               </div> -->

              <p>If you can't make the event, but still want to help,  please consider making a <a href="https://st-irene.churchgiving.com/ws/opportunities/BridgeCommunities">donation</a> directly to Bridge Communities.

              <p>A link will be posted once registration opens for the 2020 race.</p>

            </div>
        </div>
    </section>
