<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get Your Hustle On!!!</h2>
                </div>
            </div>
            <div class="row container">
              <p>Are you ready to conquer the mountain? How many times can you hustle up Blackwell’s Mt Hoy?

              <p>Beautiful Mt. Hoy, which rises 836 feet above sea level, gives you an awesome panoramic view of the western suburbs and if the skies are clear, you can see the Chicago skyline in the distance. But first, you have get to the top. Lace up your running (or walking) shoes and join us as we have fun while raising funds for Bridge Communities.

              <p>Run solo or form a team. Run with the family. Do your thing. T-shirts and gourmet coffee await you at the finish line.

              <p>Registration opens in <span id="countdown"></span> days!

                <script type="text/javascript">
                function daysUntil(year, month, day) {
                  var now = new Date(),
                  dateEnd = new Date(year, month - 1, day), // months are zero-based
                  days = (dateEnd - now) / 1000/60/60/24;   // convert milliseconds to days
                  return Math.round(days);
                }
                var countdown = daysUntil(2018, 05, 20);

                var countdown_span = document.getElementById("countdown");
                countdown_span.innerText = countdown


                </script>

              <!-- <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center> -->

            </div>
        </div>
    </section>
