
  <aside class="clients" class="bg-light-gray">
      <div class="container">
        <section id="sponsors">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Sponsors</h2>
              </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6"></div>
              <div class="col-md-4 col-sm-6">
                  <a href="https://www.ftcaresfoundation.org/" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/ft_cares.png" class="img-responsive img-centered">
                  </a>
              </div>
              <div class="col-md-4 col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://choicecabinetchicago.com/" class="portfolio-link" target="_top" data-toggle="modal">
                        <img src="/hustle/css/2017_style/img/logos/choice_cabinet.JPG" class="img-responsive img-centered">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.compmort.com/" class="portfolio-link" target="_top" data-toggle="modal">
                        <img src="/hustle/css/2017_style/img/logos/compass.jpg" class="img-responsive img-centered">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.numarkcu.org/" class="portfolio-link" target="_top" data-toggle="modal">
                        <img src="/hustle/css/2017_style/img/logos/NuMark.png" class="img-responsive img-centered">
                    </a>
                </div>
            </div>
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <a href="http://www.ihaveabean.com/" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/bean.png" class="img-responsive img-centered">
                  </a>
              </div>
              <div class="col-md-4 col-sm-6">
                  <a href="http://www.napervillept.com/" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/fyzical.png" class="img-responsive img-centered">
                  </a>
              </div>
              <div class="col-md-4 col-sm-6">
                  <a href="http://www.floatnaperville.com/" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/anicca.png" class="img-responsive img-centered">
                  </a>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <a href="http://www.energizedteam.com/" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/realty.png" class="img-responsive img-centered">
                  </a>
              </div>
              <div class="col-md-4 col-sm-6">
                  <a href="https://www.nscu.org/" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/northstar.png" class="img-responsive img-centered">
                  </a>
              </div>
              <div class="col-md-4 col-sm-6">
                  <a href="#" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/wolfe.png" class="img-responsive img-centered">
                  </a>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <a href="#" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/baii.png" class="img-responsive img-centered">
                  </a>
              </div>
              <div class="col-md-4 col-sm-6">
                  <a href="https://www.lockton.com/" class="portfolio-link" target="_top" data-toggle="modal">
                      <img src="/hustle/css/2017_style/img/logos/lockton.png" class="img-responsive img-centered">
                  </a>
              </div>

          </div>
      </div>
  </aside>

</section>
