---
layout: 2017_style
---
#hustle_container {
  background: rgba(255,255,255,.4);
  width: 100%;
  padding: 2em;
  position: relative;
  top: 100px;
}

#hustle_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#gallery_table_large {
  display: none;
}

@media (min-width: 600px) {
  #gallery_table_large {
    display: block;
  }

  #gallery_table_small {
    display: none;
  }
}

.gallery_table, .gallery_table th, .gallery_table td {
    padding: 5px;
}
.gallery_table {
    border-spacing: 15px;
}

#youtube {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
