<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
      <div id="hustle_container">
        <img src="{{ "/css/2017_style/img/site-logo/hustle-logo.png" | prepend: site.baseurl }}" alt="Hustle up the Hill for the Homeless Logo" class="img-responsive" id="hustle_logo">
      </div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <a href="https://endurancecui.active.com/new/events/90775505/select-race" target="_blank" class="btn btn-xl">Register Now!</a>
                <!-- <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a> -->
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/bridge.html %}
    {% include 2017_data/gallery.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/js.html %}

    </body>
</html>
