<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hustle up the Hill for the Homeless<br></div>
                <div class="intro-lead-in">May 19, 2019<br>9 am &amp; 10 am</div>
                <div class="intro-lead-in">Blackwell Forest Preserve - Mt. Hoy</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/bridge.html %}
    {% include 2017_data/gallery.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/footer.html %}
    {% include 2017_data/js.html %}

    </body>
</html>
